<%- include("partials/header.ejs") %>

<div id="cruises-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="imageCruises01">
        </div>
        <div class="carousel-item w-100" id="imageCruises02"></div>
    </div>
</div>

<div class="rounded bg-light" id="overlap-container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="bcaves-tab" data-toggle="tab" href="#bcaves" role="tab"
                aria-controls="nav-home" aria-selected="true"><%= t('bcaves') %></a>
            <a class="nav-item nav-link" id="shipwreck-tab" data-toggle="tab" href="#shipwreck" role="tab"
                aria-controls="nav-profile" aria-selected="false"><%= t('shipwreck') %></a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="bcaves" role="tabpanel" aria-labelledby="bcaves">
            <h2>table</h2>
        </div>
        <div class="tab-pane fade" id="shipwreck" role="tabpanel" aria-labelledby="shipwreck">
            <h2>taasdada sd da sdble</h2>

        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>