<%- include("partials/header.ejs") %>
<!-- Map background-->
<div
  id="contact-carousel"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner container-fluid" id="map"></div>
</div>

<!-- Contact section-->
<div class="rounded bg-light" id="overlap-container-nomove">
  <% if (success.length) { %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
  <div class="container pt-1" id="contact">
    <h2 class="centered col-12 mb-5">Contact</h2>
    <div class="centered col-12 mb-4">
      <form action="/contact" method="POST">
        <div class="form-row">
          <div class="col">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Your Email"
              required
            />
          </div>
          <div class="col">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Your Name"
              required
            />
          </div>
          <textarea
            class="form-control mt-3"
            name="message"
            id="validationTextarea"
          >
          </textarea>
        </div>
        <div class="container centered">
          <button type="submit" class="btn btn-lg btn-purple rounded-pill mt-4">
            Send!
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 centered mt-5">
      <div class="row d-flex align-items-start">
        <div class="container centered col-12 col-md-4 mb-3 mt-5">
          <div class="row col centered d-flex align-items-start">
            <div class="col centered">
              <span class="material-icons md-24 teal">
                location_on
              </span>
              <h5 class="text-center ml-3 mt-3">Located</h5>
            </div>
            <small class="text-center text-muted ml-sm-3 mt-3"
              >St. Nicholas - Volimes, Zakynthos, Greece</small
            >
          </div>
        </div>
        <div class="container centered col-12 col-md-4 mb-3 mt-5">
          <div class="row col centered d-flex align-items-start">
            <div class="col centered">
              <span class="material-icons md-24 teal">
                local_phone
              </span>
              <h5 class="text-center ml-3 mt-3">Phones</h5>
            </div>
            <small class="col-12 text-center text-muted ml-sm-3 mt-3"
              >+30 6942473757 <br />
              +30 6947329835</small
            >
          </div>
        </div>
        <div class="container centered col-12 col-md-4 mb-3 mt-5">
          <div class="row col centered d-flex align-items-start">
            <div class="col centered">
              <span class="material-icons md-24 teal">
                account_balance
              </span>
              <h5 class="text-center ml-3 mt-3">Bank</h5>
            </div>
            <small class="text-center text-muted ml-sm-3 mt-3"
              >IBAN: GR6002606800000780200166454 <br />
              Beneficiary: THEODOSIS CRUISES Piraeus Bank</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = { lat: 37.905831, lng: 20.706137 };
    // The map, centered at Uluru
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 14,
      center: uluru
    });
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({ position: uluru, map: map });
  }
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
></script>

<%- include("partials/footer.ejs") %>
