<%- include("partials/header.ejs") %>

<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active carousel-image"
            style="background-image: url("https://images.unsplash.com/photo-1581169837554-864d373c99bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80");">
        </div>
        <div class="carousel-item"
            style="background-image: url('https://images.unsplash.com/photo-1548678967-f1aec58f6fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3290&q=80');">
        </div>
        <div class="carousel-item"
            style="background-image: url('https://images.unsplash.com/photo-1530996340436-66c2f1209ab9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');">
        </div>
    </div>
</div>

<div class="container rounded text-white" id="landing-text">
    <h1>Your Journey starts here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br /> Accusantium soluta, minima maxime distinctio
        harum beatae assumenda similique voluptas.</p>
    <button class="btn btn-outline-light my-2 my-sm-0 rounded-pill" type="submit">Book Now!</button>
</div>

<div class="rounded bg-light" id="overlap-container">
    overlap container
</div>

<%- include("partials/footer.ejs") %>