<%- include("partials/header.ejs") %>

<div id="cruises-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="imageCruises01">
        </div>
        <div class="carousel-item w-100" id="imageCruises02"></div>
    </div>
</div>

<div class="rounded bg-light" id="overlap-container">

    <div class="container mb-4" id="main">
        <div class="row">
            <h3 class="ml-4 col-sm-12 col-md-12 mb-5">Theodosis Cruises</h3>
            <p class="ml-5 col-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium accusamus beatae officiis voluptatum.
          </p>
        </div>
      </div>
    
      <div class="container-fluid centered row">
        <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
          <div class="czoom centered">
            <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
              style="max-height:500px" />
          </div>
        </div>
        <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
          <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
          <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
          <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
          <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
          <div class="col-12 col-md-3 p-0 mx-1 mb-4 pzoom">
            <div class="czoom centered">
              <img data-src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-thumbnail photo_gallery no_click p-0 centered"
                style="max-height:500px" />
            </div>
          </div>
      </div>
      

</div>

<%- include("partials/footer.ejs") %>