/* B&W*/

/* Color Theme Swatches in Hex */
.Bonpair-1-hex { color: #F2F2F2; }
.Bonpair-2-hex { color: #BFBFBF; }
.Bonpair-3-hex { color: #8C8C8C; }
.Bonpair-4-hex { color: #595959; }
.Bonpair-5-hex { color: #262626; }

/* material primary */
.material01 { color: #9e47ff; }
.material01 { color: #6200ee; }
.material01 { color: #0400ba; }

/* material secondary */
.material01 { color: #66fff9; }
.material01 { color: #03dac6; }
.material01 { color: #00a896; }

.material01 { color: #ffffff; }

.material01 { color: #000000; }