/* B&W*/

/* Color Theme Swatches in Hex */
.Bonpair-1-hex { color: #F2F2F2; }
.Bonpair-2-hex { color: #BFBFBF; }
.Bonpair-3-hex { color: #8C8C8C; }
.Bonpair-4-hex { color: #595959; }
.Bonpair-5-hex { color: #262626; }

/* material */
.material01 { color: #6ab7ff; }
.material01 { color: #1e88e5; }
.material01 { color: #005cb2; }

.material01 { color: #ffffff; }

.material01 { color: #262626; }