html {
  font-family: "Oswald", serif;
  font-weight: 300;
  line-height: 1.65;
  color: #263238;
  background-color: #f2f2f2;
  height: 100%;
  display: block;
}

body {
  font-family: "Oswald", serif;
  font-weight: 300;
  line-height: 1.65;
  color: #263238;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
}

#main-content{
  position: relative;
}

#main-carousel {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#image01 {
  background-image: url('/img/carousel01.png');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#image02 {
  background-image: url('/img/carousel02.png');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#landing-text {
  z-index: 2;
  position: absolute;
  top: 40vh;
  width: 90%;
  left: 5%;
}

#overlap-container {
  z-index: 10;
  position: relative;
  top: -2vh;
  width: 90%;
  left: 5%;
  transition: all 0.7s;
  -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
}

#footer{
  height: 5vh;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  bottom: 0;
}


h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .dropdown-toggle {
  color: #fff;
}

.navbar .navbar-toggler-icon{
  color: #fff;
}

.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.navbar.active .dropdown-toggle {
  color: #555;
}

.navbar.active .navbar-toggler-icon{
  color: #555;
}

.carousel{
  transition: transform 2s ease, opacity .7s ease-out;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveup{
  top: -10rem !important;
  margin-bottom: -10rem !important;
}

.bmargin{
  margin-top: 10rem;
}

.rounded-image{
  height: 400px;
  width: 400px;
  border-radius: 3%;
  border: none;
  padding: 0;
}
