html,
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  line-height: 1.65;
  color: #595959;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  padding-bottom: 0rem;
  position: relative;
  display: block;
  bottom: 0;
}

@media (max-width: 991.98px) {
  #navbarSupportedContent {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  }

  #dropdownMenu2 {
    color: #595959;
  }

  .dropdown-item {
    text-align: center;
    align-content: flex-center;
  }

  .navbar-nav {
    padding-left: 1rem;
    margin-top: 1rem;
    text-align: left;
    align-content: flex-center;
  }

  .navbar-nav .material-icons {
    padding-right: 1.5rem;
  }

  .center-globe {
    text-align: center !important;
  }

  .navbar-nav #dropdownMenu2 .material-icons {
    padding-top: 1rem;
    padding-right: 0rem;
    font-size: 30px;
  }

  .nav-link {
    width: 100%;
    color: #595959 !important;
  }

  .navbar-toggler {
    z-index: 1042;
    position: relative;
  }

  .move-toggler {
    right: 60%;
  }

  .changeIcon{
    visibility: hidden;
  }
  .changeIcon:after{
    transition: all 0.3s;
    visibility: visible;
    content: 'clear';
  }

  .sm-hr-home {
    visibility: visible !important;
    border-top: double teal;
    width: 80%;
  }

  .sm-hr-rest {
    visibility: visible !important;
    border-top: 1px thin teal;
    width: 60%;
  }

}

#main-content {
  position: relative;
}

#main-carousel {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#cruises-carousel {
  height: 50vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#image01 {
  background-image: url('https://images.unsplash.com/photo-1548678967-f1aec58f6fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#image02 {
  background-image: url('https://images.unsplash.com/photo-1530996340436-66c2f1209ab9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#image03 {
  background-image: url('https://images.unsplash.com/photo-1570015329194-675ae0cf2516?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#imageCruises01 {
  background-image: url('https://images.unsplash.com/photo-1548161545-004d32bef83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
  height: 50vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#imageCruises02 {
  background-image: url('https://images.unsplash.com/photo-1510755637548-70ca4dd352fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 50vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#landing-text {
  z-index: 2;
  position: absolute;
  top: 40vh;
  width: 90%;
  left: 5%;
}

#overlap-container {
  z-index: 10;
  position: relative;
  top: -8vh;
  width: 90%;
  left: 5%;
  padding-bottom: 1rem;
  transition: all 0.7s;
  -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
}

#cruises-preview {
  margin-top: 7rem;
  padding-top: 0;
}

#footer {
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 2rem;
  background-color: #f2f2f2;
}

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #262626;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #262626;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.josefin {
  font-family: 'Josefin Sans';
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
  font-family: 'Josefin Sans';
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .globe {
  padding-top: 0.60rem !important;
  color: #fff;
}

.navbar .navbar-toggler-icon {
  color: #fff;
}

.navbar a.dropdown-item {
  font-weight: 300;
  color: #595959;
  background-color: none;
}

.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #595959;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #595959;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #595959;
}

.navbar.active .globe {
  color: #595959;
}

.navbar.active .navbar-toggler-icon {
  color: #595959;
}

.navbar.active a.dropdown-item {
  font-weight: 300;
  color: #595959;
}

.dropdown-toggle:after {
  text-align: center !important;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.carousel {
  transition: transform 2s ease, opacity .7s ease-out;
}

.scroll-to-top {
  font-size: 2rem;
  z-index: 1042;
  right: 1.2rem;
  bottom: 1rem;
  display: none;
  color: #03dac6 !important;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.1rem;
  color: #03dac6 !important;
}

.scroll-to-top:hover {
  color: #00a896 !important;
}

.scroll-to-top a :hover {
  color: #00a896 !important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveup {
  top: -10rem !important;
  margin-bottom: -10rem !important;
}

.bmargint {
  margin-top: 6rem;
}

.bigmarginb {
  margin-bottom: 6rem;
}

.rounded-image {
  max-height: 350px;
  max-width: 600px;
  border-radius: 3%;
  border: none;
  padding: 0;
}

.dropdown-menu {
  min-width: 1.5rem;
  border: none;
}

.cruises-images {
  width: 100%;
}

.sm-hr-home {
  visibility: hidden;
}

.sm-hr-rest {
  visibility: hidden;
}

.text-ns {
  font-size: 1.2rem;
}

.pzoom {
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.czoom {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pzoom:hover .czoom,
.pzoom:focus .czoom {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  filter: brightness(0.8);
}

.pzoom:hover .czoom:before,
.pzoom:focus .czoom:before {
  display: block;
}

.pzoom:hover a,
.pzoom:focus a {
  display: block;
}

.btn-purple {
  color: #fff;
  background-color: #6200ee;
}

.btn-purple:hover {
  color: #fff;
  background-color: #9e47ff;
}

.teal {
  color: #03dac6;
}

.accent:hover {
  background-color: #03dac6;
}