html,
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  line-height: 1.65;
  color: #595959;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  padding-bottom:0rem;
  position: relative;
  display: block;
  bottom: 0;
}

#main-content {
  position: relative;
}

#main-carousel {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#cruises-carousel {
  height: 50vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#image01 {
  background-image: url('/img/carousel01.png');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#image02 {
  background-image: url('/img/carousel02.png');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#imageCruises01 {
  background-image: url('/img/carousel01.png');
  height: 50vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#imageCruises02 {
  background-image: url('/img/carousel02.png');
  height: 50vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(60%);
}

#landing-text {
  z-index: 2;
  position: absolute;
  top: 40vh;
  width: 90%;
  left: 5%;
}

#overlap-container {
  z-index: 10;
  position: relative;
  top: -4vh;
  width: 90%;
  left: 5%;
  padding-bottom: 1rem;
  transition: all 0.7s;
  -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.75);
}

#cruises-preview{
  margin-top: 7rem;
  padding-top: 0;
}

#footer {
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 2rem;
  background-color: #f2f2f2;
}

#contact {
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #262626;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #262626;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.josefin{
  font-family: 'Josefin Sans';
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .dropdown-toggle {
  color: #fff;
}

.navbar .navbar-toggler-icon {
  color: #fff;
}

.navbar a.dropdown-item {
  font-weight: 300;
  color: #555;
  background-color: none;
}

.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.navbar.active .dropdown-toggle {
  color: #555;
}

.navbar.active .navbar-toggler-icon {
  color: #555;
}

.navbar.active a.dropdown-item {
  font-weight: 300;
  color: #555;
}

.carousel {
  transition: transform 2s ease, opacity .7s ease-out;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveup {
  top: -10rem !important;
  margin-bottom: -10rem !important;
}

.bmargint {
  margin-top: 6rem;
}

.bigmarginb {
  margin-bottom: 6rem;
}

.rounded-image {
  max-height: 350px;
  max-width: 600px;
  border-radius: 3%;
  border: none;
  padding: 0;
}

.dropdown-menu {
  min-width: 1.5rem;
  border: none;
}

.tripadvisor {
  color: #34e0a1;
}

.btn-purple {
  color: #fff;
  background-color: #6200ee;
}

.btn-purple:hover {
  color: #fff;
  background-color: #9e47ff;
}

.teal{
  color: #03dac6;
}